table.listing,
table.gmp-matrix {
  margin: 2em 0;
}
table.listing th {
  white-space: pre;
  padding: 0 2em 0.2em 0.2em;
  font-size: 80%;
}
table.listing th,
table.gmp-matrix th {
  text-align: left;
  padding: 0 0.6em 0.2em 0.2em;
}
table.listing thead,
table.gmp-matrix thead {
  border-bottom: 2px solid #777;
}
table.listing td,
table.gmp-matrix td {
  padding: 0.4em;
  vertical-align: top;
  border: 1px solid #aaa;
}
table.listing td p:first-child,
table.gmp-matrix td p:first-child {
  margin-top: 0;
}
table.gmp-matrix td.kits {
  background-color: #eee;
}


.article.page article .header {
  margin: 0 0 2em 0;
  font-family: "Noto Sans", sans-serif;
}
.section-blog img.cover,
.article.page .header img {
  max-width: 100%;
  margin: 0;
}
.section-blog cite,
.article.page .header cite {
  float: right;
  color: #888;
  font-size: 9pt;
}
.section-blog cite a,
.article.page .header cite a {
  color: inherit;
}
.article.page .header h1 {
  margin: 1em 0 0 0;
}
.section-blog h2 {
  margin: 0;
}

.section-blog p.dated,
.article.page .header p.dated {
  color: #888;
  margin: 0 0 0 1ex;
  font: inherit;
}

.section-blog h2 {
  text-align: left;
}
.section-blog .row {
  margin-bottom: 90px;
}

.section-blog-header {
  height: 400px;
  background: #333 url(/img/blog1.jpg) no-repeat 0% 20%;
  background-size: cover;
  position: relative;
}
.section-blog-header span {
  font-size: 4.6875rem;
  font-family: "Noto Sans",sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 5px;
  line-height: initial;
  position: absolute;
  right: 3vh;
  bottom: 0;
}

.article.page aside {
  background-color: #63a24a;
  color: #fff;
  padding: 2em;
  margin: 3em 0;
  font-family: sans-serif;
}
.article.page aside a,
.article.page aside p {
  color: inherit;
  font: inherit;
}
.article.page aside p:first-child {
  margin-top: 0;
}

.article.page img.full {
  max-width: 100%;
}
.article.page img.border {
  padding: 2px;
  border: 1px solid #333;
}
.article.page p.emoji {
  font-size: 250%;
}

.section-blog .feed {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
